<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started Extension's Popup</title>
<script src="/js/jquery.min.js"></script>
<style>
body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	font-size: 100%;
	min-width: 500px;
}

h2 {
	margin-bottom: 5px;
	padding-bottom: 0;
}

p {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.left {
	float: left;
	width: auto;
	margin-right: 10px;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.timeAgo {
	font-size: 11px;
	color: grey;
}

.comment {
	width: 90%;
	padding: 10px 10px 10px 0;
	overflow: hidden;
}

.comment img {
	margin-right: 15px;
	float: left;
}
</style>

<!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
     -->
<script type="text/javascript" src="/js/popup.js"></script>
</head>
<body>
	<div id="wrapper">
		<h2 style="">Comments</h2>
		<i style="font-size: 13px;"><span id="url" th:text="${url}"></span></i>
		<div th:if="${#lists.isEmpty(comments)}">There are no comments yet.</div>
		<div id="comments">
			<div class="comment" th:each="comment : ${comments}" th:attr="comment_id=${comment.getId()}">
				<img src="avatar_default.png" />
				<div>
					<b><span th:text="${comment.getAccountInfo().getFullName()}">author</span></b>
					<span class="timeAgo" th:text="${comment.getCreated()}">  hours ago</span>
					<span style="float: right;">
					<span th:attr="id='rate_comment_id_'+${comment.getId()}" th:text="${comment.getRate()}">0</span>
					<span th:attr="id='upvote_comment_id_'+${comment.getId()}, comment_id=${comment.getId()}">+</span> 
					<span th:attr="id='downvote_comment_id_'+${comment.getId()}, comment_id=${comment.getId()}">-</span></span>
				</div>
				<p th:text="${comment.content}">content</p>
			</div>

			<div id="comments_flag"></div>
		</div>
		<hr />
		<div th:if="${account}">
			<!-- <h1 th:inline="text">Hello, [[${account.givenName}]]!</h1> 

			<form th:action="@{/logout}" method="post">
				<a href="/restricted" class="btn btn-primary">Restricted</a> <input
					type="submit" class="btn btn-danger" value="Logout" />
			</form>-->
			<form th:action="@{/logout}" method="post">
				<a href="/restricted" class="btn btn-primary">Restricted</a> <input
					type="submit" class="btn btn-danger" value="Logout" />
			</form>
			<div id="new_comment_form">
				<h2>Add new comment</h2>
				<form action="#" id="comment_form" th:action="@{/popup}"
					method="post">
					<input type="hidden" th:value="${website.uri}" name="url"></input>
					<textarea id="comment_content" name="content"
						th:value="${comment.content}" rows="5" cols="60"></textarea>
					<input id="comment_submit" type="submit" value="Submit" />
				</form>
			</div>
		</div>
		<!--/* displayed if account IS null, indicating that the user IS NOT logged in */-->
		<div th:unless="${account}">
			<p>You have to be logged in to add new comment.</p>
			<a th:href="@{/login}" class="btn btn-success">Login</a>
		</div>

	</div>
</body>
</html>

